/* ==========================================================================
   @zkar13
   ========================================================================== */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  background: #000 url(../img/bg.jpg) no-repeat center;
  background-size: cover;
  font-size: 16px;
  font-family: 'Macondo', cursive;
}
#page {
  overflow: auto;
}
.tacoTitle {
  background: #fff;
  padding: 15px 0px;
  text-align: center;
  margin: 0px 0px 25px 0px;
}
.tacoContainer {
  position: relative;
  text-align: center;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.33);
}
.tacoContainer img {
  display: inline-block;
  width: 80%;
}
.rolTableContainer {
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
}
.rolTableContainer .rolTable {
  width: 100%;
  border-spacing: 0;
}
.rolTableContainer .rolTable th {
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 8px;
  border-bottom: 2px solid #eee;
}
.rolTableContainer .rolTable tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.rolTableContainer .rolTable tr:last-child {
  border: 0;
}
.rolTableContainer .rolTable td {
  color: #eee;
  text-align: center;
  padding: 8px;
}
.avatar {
  position: relative;
  text-align: center;
}
.avatar .avatar-img {
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 0px 0px 5px 0px;
}
.avatar .avatar-nombre {
  display: block;
  font-size: 13px;
  color: #ccc;
  padding: 4px;
}
